@media only screen {
	.global-contact{
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
		min-height: 400px;
		box-sizing: border-box;
	}
	.global-contact-tint{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: rgba(0,0,0,0.35);
	}
	.global-contact-content{
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		padding: 40px 0;
		z-index: 1;
		width: 100%;
	}
	.global-contact-content-header{
		color: white;
		text-transform: uppercase;
		font-size: 3.6rem;
	}
	.global-contact-content-button{
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		background-color: $primary;
		padding: 15px 20px;
		margin-top: 20px;
		display: inline-block;
	}
}

@media only screen and (min-width: $medium){
	.global-contact-content-header{
		font-size: 4.8rem;
	}
}

@media only screen and (min-width: $large){
	.global-contact{
		min-height: 600px;
	}
	.global-contact-content-header{
		font-size: 7.2rem;
	}
	.global-contact-content-button{
		font-size: 2.4rem;
		font-weight: normal;
	}
}