// breakpoints

$medium: 641px;
$large: 1025px;
$nav_desktop: 1167px;
$xlarge: 1440px;

// colors
$primary: #fcb315;
$footer-grey: #424343;
$medium-grey: #383838;
$light-grey: #dedddd;

// light theme colors
$estimate-bar: #f9f9f9;
$header-tint: #eaeaea;
$footer-bg: #bcbcbc;


// fonts
$header: 'Oswald', 'Impact', sans-serif;
$body: 'Montserrat', 'Helvetica', sans-serif;