//////////////////////////
// global & reset stuff //
//////////////////////////

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

@import "flex", "fonts", "vars", "mixins";

html,body{
	width: 100%;
	height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
html{
	font-size: 62.5%; // base 10 for fonts
	font-family: $body;
}
h1, h2, h3, h4, h5, h6{
	font-family: $header;
	text-transform: uppercase;
	font-weight: 400;
}
body{
	font-size: 1.6rem;
	font-weight: 300;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}


@import "global";
@import "gform";
@import "pages/404";
@import "lity";
@import "baguetteBox";
@import "global-recent_posts";
@import "global-contact";
@import "global-popups";
@import "global-sociallinks";

@import "partials/header";
@import "partials/mobileheader";
@import "partials/footer";
@import "partials/mobilefooter";

@import "pages/home-hero";
@import "pages/home-services";
@import "pages/home-testimonials";
@import "pages/home-areasserved";

@import "pages/company-wysiwyg";
@import "pages/company-employees";

@import "pages/areas-served";

@import "pages/gallery";

@import "pages/services";

@import "pages/blog";

@import "pages/testimonials";

@import "pages/contact";

@import "pages/coupons";

@import "pages/single";

@import "pages/menu";
