@media only screen {
	.mobileheader{
		width: 100vw;
		position: fixed;
		padding: 10px 20px;
		box-sizing: border-box;
		z-index: 10;
		ul{
			list-style: none;
		}
	}
	.mobileheader-tint{
		background-color: rgba(0,0,0,0.85);
		width: 100%;
		height: 100%;
		position: fixed;
		display: none;
		z-index: -1;
		top: 0;
		left: 0;
	}
	.mobileheader-tint--show{
		display: block;
	}
	.mobileheader-bar{
		font-size: 0;
	}
	.mobileheader-bar-tint{
		pointer-events: none;
		background-color: $medium-grey;
		opacity: 0;
		height: 48px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}
	.mobileheader-bar-menutoggle,
	.mobileheader-bar-logo{
		display: inline-block;
		vertical-align: middle;
	}
	.mobileheader-bar-menutoggle{
		width: 40%;
	}
	.mobileheader-bar-menutoggle-icon{
		color: white;
		font-size: 2.4rem;
	}
	.mobileheader-bar-logo{
		width: 60%;
		text-align: right;
	}
	.mobileheader-bar-logo-image{
		width: auto;
		max-height: 28px;
		display: inline-block;
	}
	.mobileheader-menus{
		text-align: center;
		position: fixed;
	    top: 50%;
	    left: 50%;
	    @include transform(translate(-50%,-50%));
	    min-width: 280px;
	    width: 100%;
	    max-width: 640px;
	    margin: 0 auto;
	    display: none;
	}
	.mobileheader-menus--show{
		display: block;
	}
	.mobileheader-menus-pages-menu-item-link{
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 2rem;
		padding: 7px;
		display: inline-block;
	}
	.mobileheader-menus-contact{
		padding-top: 20px;
	}
	.mobileheader-menus-contact-email,
	.mobileheader-menus-contact-phone{
		color: white;
		text-decoration: none;
		font-size: 2.4rem;
		padding: 15px;
	}
	.mobileheader-menus-social{
		padding-top: 20px;
	}
	.mobileheader-menus-social-menu{
		font-size: 0;
	}
	.mobileheader-menus-social-menu-item{
		display: inline-block;
		background-color: $primary;
		border-radius: 300px;
		width: 45px;
		height: 45px;
		position: relative;
		margin: 5px;
	}
	.mobileheader-menus-social-menu-item-link{
		font-size: 3rem;
		color: black;
		padding: 7px;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
	.mobileheader-menus-social-menu-item-link-icon{
		&.fa-instagram{
			position: relative;
			top: -2px;
			left: 0px;
		}
		&.fa-youtube-play,&.fa-twitter{
			position: relative;
			top: -1px;
		}
	}
	header.light{
		.mobileheader-estimate{
			background-color: $estimate-bar;
		}
		.mobileheader-estimate-link{
			color: black;
		}
		.mobileheader-menus-social-menu-item:last-of-type .mobileheader-menus-social-menu-item-link{
			color: black;
		}
		.mobileheader-menus-pages-menu-item-link{
			color: black;
		}
		.mobileheader-bar-tint,
		.mobileheader-tint{
			background-color: $header-tint;
		}
		.mobileheader-menus-contact-email, 
		.mobileheader-menus-contact-phone{
			color: black;
		}
		.mobileheader-bar-menutoggle-icon{
			color: black;
		}
		&~main {
			.hero-tint{
				background-color: rgba(255,255,255,0.6);
			}
			.hero-text-header{
				color: black;
			}
		}
	}
	header.invertlogo{
		.mobileheader-bar-logo-image{
			@include filter(invert, 100%);
		}
	}
}

@media only screen and (min-width: $medium){
	
}

@media only screen and (min-width: $large){
	.mobileheader{
		padding: 40px;
	}
	.mobileheader-bar-tint{
		height: 111px;
	}
}

@media only screen and (min-width: $nav_desktop){
	.mobileheader{
		display: none;
	}
}