@media only screen {
	.blog-blog{
		padding: 20px;
	}
	.blog-blog-pagination{
		*{
			color: black;
			font-family: $body;
			font-size: 2rem;
			font-weight: bold;
			padding: 0 10px;
			&.current{
				font-weight: normal;
			}
		}
	}
	.blog-blog-pagination-linkcontainer{
		display: inline-block;
		a{
			color: black;
			font-weight: normal;
			margin: 0 20px;
		}
	}
	.blog-blog-grid-item{
		padding-bottom: 40px;
		margin: 0 auto;
		max-width: 320px;
	}
	.blog-blog-grid-item-textcontainer-header{
		background-color: $primary;
		padding: 5px 10px;
		font-size: 2rem;
		font-family: $body;
		display: block;
		text-decoration: none;
		color: black;
		font-weight: normal;
	}
	.blog-blog-grid-item-textcontainer-date{
		font-size: 1.6rem;
		padding: 10px 0 0 10px;
	}
	.blog-blog-grid-item-textcontainer-description{
		padding: 10px;
		font-size: 1.6rem;
		text-align: justify;
		line-height: 2.8rem;
	}
	.blog-blog-grid-item-textcontainer-permalink{
		font-size: 1.6rem;
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		display: inline-block;
		padding-left: 10px;
		font-weight: bold;
	}
	.blog-blog-grid-item-socialcontainer{
		padding-left: 10px;
		margin-bottom: -10px;
	}
	.blog-blog-sidebar{
		display: none;
	}
}

@media only screen and (min-width: $medium){
	.blog-blog-grid{
		max-width: 720px;
		margin: 0 -20px;
		font-size: 0;
		text-align: center;
		position: relative;
		left: calc(50% + 20px);
		@include transform(translateX(-50%));
	}
	.blog-blog-grid-item{
		width: calc(50% - 20px);
		margin: 10px;
		display: inline-block;
		box-sizing: border-box;
	}
	.blog-blog-grid-item-textcontainer{
		text-align: left;
	}
}

@media only screen and (min-width: $large){
	.blog-blog{
		max-width: 1002px;
		margin: 0 auto;
		font-size: 0;
		box-sizing: border-box;
	}
	.blog-blog-grid{
		left: 0;
		@include transform(none);
		width: 70%;
		max-width: none;
		display: inline-block;
		margin: 0;
	}
	.blog-blog-sidebar{
		display: inline-block;
		font-size: 1.6rem;
		width: calc(30% - 20px);
		vertical-align: top;
		padding: 20px;
		box-sizing: border-box;
		margin-left: 20px;
		background-color: #e1e1e1;
		margin-top: 20px;
	}
	.blog-blog-sidebar-recentposts-header,
	.blog-blog-sidebar-archive-header,
	.blog-blog-sidebar-categories-header{
		font-size: 2.4rem;
		color: white;
		background-color: black;
		display: inline-block;
		padding: 10px 20px;
	}
	.blog-blog-sidebar-recentposts-grid,
	.blog-blog-sidebar-archive-grid,
	.blog-blog-sidebar-categories-grid{
		padding: 10px 0 20px 0;
	}
	.blog-blog-sidebar-archive-grid-item{	
		padding: 7px 0;
		border-bottom: 1px solid grey;
		&:last-of-type{
			border-bottom: none;
		}
		a{
			font-family: $body;
			font-weight: normal;
			color: black;
			text-decoration: none;
			font-size: 1.6rem;
		}
	}
	.blog-blog-sidebar-recentposts-grid-item,
	.blog-blog-sidebar-categories-grid-item{
		padding: 7px 0;
		border-bottom: 1px solid grey;
		&:last-of-type{
			border-bottom: none;
		}
	}
	.blog-blog-sidebar-recentposts-grid-item-header,
	.blog-blog-sidebar-archive-grid-item-header,
	.blog-blog-sidebar-categories-grid-item-header{
		font-family: $body;
		font-weight: normal;
		color: black;
		text-decoration: none;
		font-size: 1.6rem;
	}
	a.blog-blog-sidebar-quickquote{
		font-size: 1.6rem;
		text-align: center;
		text-transform: uppercase;
		background-color: $primary;
		padding: 16px 10px;
		display: inline-block;
		vertical-align: bottom;
		position: relative;
		bottom: 4px;
		margin-left: 0px;
		margin-top: 20px;
		font-weight: normal;
		color: black;
		text-decoration: none;
	}
	.blog-blog-grid-item{
		width: 100%;
		max-width: 1330px;
		padding: 20px 0;
		margin: 0;
	}
	.blog-blog-grid-item-textcontainer-date{
		float: left;
		padding: 20px 0 0 10px;
	}
	.blog-blog-grid-item-textcontainer{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	.blog-blog-grid-item-socialcontainer{
		text-align: right;
	}
}