@media only screen {
	.coupons-coupons-pagination{
		*{
			color: black;
			font-family: $body;
			font-size: 2rem;
			font-weight: bold;
			padding: 0 10px;
			&.current{
				font-weight: normal;
			}
		}
	}
	.coupons-coupons-grid{
		font-size: 0;
		max-width: 1082px;
		margin-top: 40px;
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
	}
	.coupons-coupons-grid-item{
		padding: 20px;
		background-color: #f1f1f1;
		border: 4px dashed black;
		display: inline-block;
		width: calc(100% - 40px);
		max-width: calc(473px - 40px);
		margin-bottom: 40px;
		text-align: center;
	}
	.coupons-coupons-grid-item-textcontainer-sitename{
		font-size: 3rem;
	}
	.coupons-coupons-grid-item-textcontainer-header{
		margin-top: 15px;
		font-family: $body;
		font-size: 2rem;
	}
	.coupons-coupons-grid-item-textcontainer-exipiration{
		padding: 15px 0;
		font-size: 1.6rem;
	}
	.coupons-coupons-grid-item-textcontainer-code{
		font-size: 1.6rem;
	}
	.coupons-coupons-pagination{
		.pagination{
			text-align: center;
			margin: 40px 0;
			.nav-links *{
				color: black;
				font-family: $body;
				font-size: 2rem;
				font-weight: bold;
				padding: 0 15px;
				&.current{
					font-weight: normal;
				}
			}
		}
	}
	.coupons-coupons-grid-item-textcontainer-print{
		border: 4px solid black;
		padding: 15px 30px;
		text-transform: uppercase;
		text-align: center;
		display: inline-block;
		margin: 20px auto 10px auto;
		font-size: 1.8rem;
		font-weight: bold;
		text-decoration: none;
		color: black;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.coupons-coupons-grid-item{
		margin: 0 20px 40px 20px;
	}
}

@media only print {
	.coupons-coupons-grid-item{
		padding: 20px;
		background-color: $primary;
		border: 4px dashed black;
		display: inline-block;
		width: calc(100% - 40px);
		max-width: calc(473px - 40px);
		margin-bottom: 40px;
		text-align: center;
	}
	.coupons-coupons-grid-item-textcontainer-sitename{
		font-size: 3rem;
	}
	.coupons-coupons-grid-item-textcontainer-header{
		margin-top: 15px;
		font-family: $body;
		font-size: 2rem;
	}
	.coupons-coupons-grid-item-textcontainer-exipiration{
		padding: 15px 0;
		font-size: 1.6rem;
	}
	.coupons-coupons-grid-item-textcontainer-code{
		font-size: 1.6rem;
	}
}