@media only screen {
	.testimonials-testimonials-grid{
		margin-top: 20px;
	}
	.testimonials-testimonials-grid-item{
		margin: 40px auto 110px auto;
		text-align: left;
		background-color: $light-grey;
		padding: 20px;
		position: relative;
		max-width: 320px;
	}
	.testimonials-testimonials-grid-item-personinfo{
		padding: 20px 0;
	}
	.testimonials-testimonials-grid-item-personinfo-name{
		font-weight: bold;
	}
	.testimonials-testimonials-grid-item-image{
		position: absolute;
		width: 140px;
	    border-radius: 220px;
	    right: 0;
	    bottom: 0;
	    @include transform(translateY(50%));
	}
	.testimonials-testimonials-grid-item-youtubecontainer{
		text-align: center;
		position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;
		iframe, object, embed{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
	.testimonials-youtubegriditem{
		margin: 40px auto;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.testimonials-testimonials{
		padding: 40px 0;
		position: relative;
	}
	.testimonials-testimonials-grid{
		position: relative;
		min-height: 300px;
		z-index: 1;
		max-width: 1020px;
		width: 100%;
		margin: 0 auto;
	}
	.testimonials-testimonials-grid-item{
		width: 100%;
		max-width: none;
		box-sizing: border-box;
	}
	.testimonials-youtubegriditem{
		margin: 40px auto 110px auto;
	}
}